    </div>
    <div class="footer">
        <div class="container">
            <ul class="list-inline">
            <li class="footer-inverse"><a href="mailto:contact .at. resumenesdefutbol.com"><i class="fa fa-envelope fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="https://twitter.com/futbolresumen22"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li class="footer-inverse"><a href="https://instagram.com/@futbolresumen22"><i class="fa fa-instagram fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
    <script src="https://kit.fontawesome.com/153d2c5511.js" crossorigin="anonymous"></script>
  </body>
</html>
