<div class="newsletter-container">
                <!-- <p class="newsletter-text"></p> -->
                <div style="width:100%;height:75px;border:3px solid black; border-radius: 8px;background-color:black;" display="flex;" justify-content="center;">
                <form class="newsletter-form" action="https://docs.google.com/forms/d/e/1FAIpQLSe2JpO8DhPCjVm3e1IXZeBJsVDOyapPvDjb4YA4RKDeDLj1LA/viewform" method="action" target="popupwindow" onsubmit="window.open('https://docs.google.com/forms/d/e/1FAIpQLSe2JpO8DhPCjVm3e1IXZeBJsVDOyapPvDjb4YA4RKDeDLj1LA/viewform', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">

                    <center><p class="newsletter-text" style="color:white" >Recibe nuestros posts en tu correo</p></center>

                    <input type="hidden" value="ResumenesDeFutbol" name="uri" />

                    <input type="hidden" name="loc" value="en_US" />

                    <button type="submit" style="border:3px ; border-radius: 8px; font-weight:bold;width: 100%" class="button button-center">Subscríbete a la NewsLetter</button>

                </form>
                </div>
</div>
<!--
<br>
<div class="rss-container">
                <div style="width:100%;height:75px;border:3px solid black; border-radius: 8px;background-color:black;" display="flex;" justify-content="center;">
                <form class="newsletter-form" action="https://feeds.feedburner.com/resumenesdefutbol/arhrnvnvnhn" method="action" target="popupwindow" onsubmit="window.open('https://feeds.feedburner.com/resumenesdefutbol/arhrnvnvnhn', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">

                    <center><p class="newsletter-text" style="color:white" >Subscríbete a nuestro feed</p></center>

                    <input type="hidden" value="ResumenesDeFutbol" name="uri" />

                    <input type="hidden" name="loc" value="en_US" />

                    <button type="submit" style="border:3px ; border-radius: 8px; font-weight:bold;width: 100%" class="button button-center">Subscríbete a nuestro feed</button>

                </form>
                </div>
</div>
-->
