<style type="text/css">
  ul.share-buttons{
    list-style: none;
    padding: 0;
    text-align: center;
  }

  ul.share-buttons li{
    display: inline-block;
  }

  ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

    </style>

<ul class="share-buttons" data-source="simplesharingbuttons.com">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fresumenesdefutbol.com&quote=" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="/static/img/sharebuttons/Facebook.cweb" /></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fresumenesdefutbol.com&via=futbolresumen22" target="_blank" title="Tweet"><img alt="Tweet" src="/static/img/sharebuttons/Twitter.cweb" /></a></li>
  <li><a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fresumenesdefutbol.com&quote=&s=" target="_blank" title="Post to Tumblr"><img alt="Post to Tumblr" src="/static/img/sharebuttons/Tumblr.cweb" /></a></li>
  <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fresumenesdefutbol.com&title=" target="_blank" title="Submit to Reddit"><img alt="Submit to Reddit" src="/static/img/sharebuttons/Reddit.cweb" /></a></li>
  <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fresumenesdefutbol.com" target="_blank" title="Send email"><img alt="Send email" src="/static/img/sharebuttons/Email.cweb" /></a></li>
</ul>
